body{
    background-color: pink;
    div{
        p{
            font-family: 'Joan', serif;
        }
        h3{
            font-size: larger;
        }
    }

    footer{
        font-size: medium;
    }
}